html{
    font-family: Roboto,Arial,sans-serif;
}
body{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 100%;
    background-color: #5E35B1;
}
.header-container{
    display: inline;
    background-color: #5C6BC0  ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1000;
}
.menu_btn{
    position: absolute;
    width: 40px;
    top: 13px;
    left: 7px;
    text-align: center;
}
.menu_btn:hover{
    background-color: rgba(0,0,0,.2);
}
.pointer{
    cursor: pointer;
}
.menu_btn img{
    width: 35px;
}
.open_menu_btn{
    position: absolute;
    width: 40px;
    top: 13px;
    left: 7px;
    text-align: center;
}
.open_menu_btn:hover{
    background-color: rgba(0,0,0,.2);
}
.open_menu_btn img{
    width: 35px;
}
.menu{
    position: fixed;
    left: -300px;
    width: 300px;
    height: 65em;
    background-color: white;
    z-index: 1500;
    transition: .3s all ease;
}
h1{
    margin-top: 13px;
    text-align: center;
    bottom: 0;
}
h2{
    position: relative;
    display: inline-block;
    left: 10%;
}
.main-container{
    position: relative;
    top: 75px;
    right: 0;
    left: 0;
}
.materias_flex-container{
    padding-left: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 70em;
}
.materias-container{
    text-decoration: none;
    list-style: none;
    background-clip: padding-box;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    height: 18.375rem;
    width: 18.75rem;
    background-color: #9FA8DA ;
    border-radius: 0.5rem;
}
.materias_header-container{
    position: relative;
    height: 4.5rem;
    border-radius: .5rem .5rem 0 0;
}
.materias_header_background{
    position: relative;
    height: 4.5rem;
    padding: 1rem 1rem .75rem;
    border-radius: .5rem .5rem 0 0;
}
.materias_header_color{
    opacity: .7;
    background-color: #202124;
    position: absolute;
    top: 0;
    height: 4.5rem;
    left: 0;
    right: 0;
    padding: 1rem 1rem .75rem;
    border-radius: .5rem .5rem 0 0;
}
#civica .materias_header_background{
    background-image: url("img/civica_background.jpg");
    background-size: cover;
}
#historia .materias_header_background{
    background-image: url("img/historia_backgorund.jpg");
    background-size: cover;
}
.materias_header{
    color: #fff;
    position: absolute;
    top: 0;
    margin-left: 1rem;
}
.materias_header{
    z-index: 50;
}
.active_menu{
    transform: translateX(300px);
    box-shadow: 1000px 1000px 0 1000px rgba(0,0,0,0.4);
}